In [1]:
import numpy as np
import pandas as pd
import os
import seaborn as sns
import matplotlib as plt
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [2]:
df = pd.read_csv('us_disaster_declarations.csv')
df.head(10)

,fema_declaration_string,disaster_number,state,declaration_type,declaration_date,fy_declared,incident_type,declaration_title,ih_program_declared,ia_program_declared,...,incident_begin_date,incident_end_date,disaster_closeout_date,fips,place_code,designated_area,declaration_request_number,hash,last_refresh,id
0,DR-1-GA,1,GA,DR,1953-05-02T00:00:00Z,1953,Tornado,Tornado,0,1,...,1953-05-02T00:00:00Z,1953-05-02T00:00:00Z,1954-06-01T00:00:00Z,13000,0,Statewide,53013,bbe78045bc2c18eabea13bd70bdd3fc8,2021-06-11T19:21:12Z,60c3b7a9a0ee349d71025780
1,DR-2-TX,2,TX,DR,1953-05-15T00:00:00Z,1953,Tornado,Tornado & Heavy Rainfall,0,1,...,1953-05-15T00:00:00Z,1953-05-15T00:00:00Z,1958-01-01T00:00:00Z,48000,0,Statewide,53003,fa79c2a0c1dd09facb9729ead357b422,2021-06-11T19:21:12Z,60c3b7a9a0ee349d71025783
2,DR-3-LA,3,LA,DR,1953-05-29T00:00:00Z,1953,Flood,Flood,0,1,...,1953-05-29T00:00:00Z,1953-05-29T00:00:00Z,1960-02-01T00:00:00Z,22000,0,Statewide,53005,ea34416dba7705f78eeee6356736ee3e,2021-06-11T19:21:12Z,60c3b7a9a0ee349d71025777
3,DR-4-MI,4,MI,DR,1953-06-02T00:00:00Z,1953,Tornado,Tornado,0,1,...,1953-06-02T00:00:00Z,1953-06-02T00:00:00Z,1956-02-01T00:00:00Z,26000,0,Statewide,53004,6bd9033a7634aa10b6fb455ddb40143c,2021-06-11T19:21:12Z,60c3b7a9a0ee349d7102577a
4,DR-5-MT,5,MT,DR,1953-06-06T00:00:00Z,1953,Flood,Floods,0,1,...,1953-06-06T00:00:00Z,1953-06-06T00:00:00Z,1955-12-01T00:00:00Z,30000,0,Statewide,53006,f044c01fd5da9d437f5ddd208ed59126,2021-06-11T19:21:12Z,60c3b7a9a0ee349d71025774
5,DR-6-MI,6,MI,DR,1953-06-09T00:00:00Z,1953,Tornado,Tornado,0,1,...,1953-06-09T00:00:00Z,1953-06-09T00:00:00Z,1956-03-30T00:00:00Z,26000,0,Statewide,53007,337fa5dcfb766fef1e4be708e657d3bc,2021-06-11T19:21:12Z,60c3b7a9a0ee349d71025766
6,DR-7-MA,7,MA,DR,1953-06-11T00:00:00Z,1953,Tornado,Tornado,0,1,...,1953-06-11T00:00:00Z,1953-06-11T00:00:00Z,1956-06-01T00:00:00Z,25000,0,Statewide,53009,2689d48c5b648a64a2960d740f8a0c0f,2021-06-11T19:21:12Z,60c3b7a9a0ee349d71025720
7,DR-8-IA,8,IA,DR,1953-06-11T00:00:00Z,1953,Flood,Flood,0,1,...,1953-06-11T00:00:00Z,1953-06-11T00:00:00Z,1955-11-01T00:00:00Z,19000,0,Statewide,53008,0272b5fe94beed25334abef8adb43896,2021-06-11T19:21:12Z,60c3b7a9a0ee349d7102575f
8,DR-9-TX,9,TX,DR,1953-06-19T00:00:00Z,1953,Flood,Flood,0,1,...,1953-06-19T00:00:00Z,1953-06-19T00:00:00Z,1958-01-01T00:00:00Z,48000,0,Statewide,53010,ed5ad5416fc07811f02d52dbd01b9516,2021-06-11T19:21:12Z,60c3b7a9a0ee349d71025759
9,DR-11-NH,11,NH,DR,1953-07-02T00:00:00Z,1953,Fire,Forest Fire,0,1,...,1953-07-02T00:00:00Z,1953-07-02T00:00:00Z,1956-02-01T00:00:00Z,33000,0,Statewide,53011,cb902d222cbcaba99cda2c5a2ab26e04,2021-06-11T19:21:12Z,60c3b7a9a0ee349d71025760

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61895 entries, 0 to 61894
Data columns (total 22 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   fema_declaration_string     61895 non-null  object
 1   disaster_number             61895 non-null  int64
 2   state                       61895 non-null  object
 3   declaration_type            61895 non-null  object
 4   declaration_date            61895 non-null  object
 5   fy_declared                 61895 non-null  int64
 6   incident_type               61895 non-null  object
 7   declaration_title           61895 non-null  object
 8   ih_program_declared         61895 non-null  int64
 9   ia_program_declared         61895 non-null  int64
 10  pa_program_declared         61895 non-null  int64
 11  hm_program_declared         61895 non-null  int64
 12  incident_begin_date         61895 non-null  object
 13  incident_end_date           53574 non-null  object
 14  disaster_closeout_date      45944 non-null  object
 15  fips                        61895 non-null  int64
 16  place_code                  61895 non-null  int64
 17  designated_area             61895 non-null  object
 18  declaration_request_number  61895 non-null  int64
 19  hash                        61895 non-null  object
 20  last_refresh                61895 non-null  object
 21  id                          61895 non-null  object
dtypes: int64(9), object(13)
memory usage: 10.4+ MB

In [4]:
disaster_types = df['incident_type'].unique()
print("Types of Disasters reported:\n\n", disaster_types)
print("Occurrences:\n\n",df['incident_type'].value_counts())

Types of Disasters reported:

 ['Tornado' 'Flood' 'Fire' 'Other' 'Earthquake' 'Hurricane' 'Volcano'
 'Severe Storm(s)' 'Toxic Substances' 'Typhoon' 'Drought'
 'Dam/Levee Break' 'Snow' 'Severe Ice Storm' 'Freezing' 'Coastal Storm'
 'Fishing Losses' 'Mud/Landslide' 'Human Cause' 'Terrorist' 'Tsunami'
 'Chemical' 'Biological']
Occurrences:

 Severe Storm(s)     17026
Hurricane           12005
Flood               10453
Biological           7811
Snow                 3664
Fire                 3511
Severe Ice Storm     2937
Tornado              1488
Drought              1292
Coastal Storm         570
Freezing              301
Other                 299
Earthquake            227
Typhoon               130
Volcano                51
Fishing Losses         42
Mud/Landslide          36
Dam/Levee Break        13
Toxic Substances        9
Chemical                9
Tsunami                 9
Human Cause             7
Terrorist               5
Name: incident_type, dtype: int64

In [5]:
m=df[['state','incident_type']].groupby('state').describe()
m['incident_type'].sort_values(by='count',ascending=False)

      count unique              top  freq
state
TX     5164     11        Hurricane  1303
MO     2670      8  Severe Storm(s)  1309
KY     2510     10  Severe Storm(s)   986
VA     2493     11        Hurricane   877
OK     2461      9  Severe Storm(s)   996
LA     2299     11        Hurricane  1236
GA     2269     10        Hurricane   905
FL     2027     10        Hurricane   989
NC     1984     10        Hurricane  1192
PR     1826      8        Hurricane   868
IA     1823      8            Flood   722
MS     1731      8  Severe Storm(s)   638
KS     1682      9  Severe Storm(s)   975
AL     1650      8        Hurricane   611
AR     1588      8  Severe Storm(s)   633
TN     1560      9  Severe Storm(s)   742
MN     1498     10            Flood   642
IN     1451      7  Severe Storm(s)   655
CA     1443     13             Fire   433
NE     1423      9  Severe Storm(s)   630
NY     1422     13  Severe Storm(s)   368
SD     1382      8  Severe Storm(s)   457
ND     1303      8            Flood   653
OH     1281      8  Severe Storm(s)   566
IL     1268      7            Flood   316
WV     1230     10  Severe Storm(s)   460
PA     1226      8            Flood   349
ME     1010      9       Biological   623
WA      892     11            Flood   255
WI      892      8  Severe Storm(s)   293
SC      855      8        Hurricane   449
MI      791     12       Biological   188
CO      644      9             Fire   149
MT      587      8             Fire   143
NJ      583     10        Hurricane   151
OR      568      9  Severe Storm(s)   158
NM      500      6       Biological   150
MD      448      6        Hurricane   151
MA      389     12        Hurricane    93
ID      355      9       Biological    93
AZ      327      7             Fire    85
VT      314      7  Severe Storm(s)   145
AK      302     10       Biological   121
NH      294      8  Severe Storm(s)   108
NV      272      8       Biological    88
UT      247      8            Flood    73
CT      238      6        Hurricane    79
WY      128      8       Biological    48
RI      102      6        Hurricane    37
HI       97     11        Hurricane    22
VI       79      5        Hurricane    53
AS       75      7        Hurricane    25
MP       63      3          Typhoon    53
MH       53      5          Drought    25
DE       52      7        Hurricane    21
FM       31      4          Typhoon    23
DC       23      6  Severe Storm(s)     9
GU       19      5          Typhoon    13
PW        1      1          Typhoon     1

In [6]:
m['incident_type'].sort_values(by='freq',ascending=False)['freq']

state
MO    1309
TX    1303
LA    1236
NC    1192
OK     996
FL     989
KY     986
KS     975
GA     905
VA     877
PR     868
TN     742
IA     722
IN     655
ND     653
MN     642
MS     638
AR     633
NE     630
ME     623
AL     611
OH     566
WV     460
SD     457
SC     449
CA     433
NY     368
PA     349
IL     316
WI     293
WA     255
MI     188
OR     158
NJ     151
MD     151
NM     150
CO     149
VT     145
MT     143
AK     121
NH     108
ID      93
MA      93
NV      88
AZ      85
CT      79
UT      73
VI      53
MP      53
WY      48
RI      37
MH      25
AS      25
FM      23
HI      22
DE      21
GU      13
DC       9
PW       1
Name: freq, dtype: object

In [7]:
df.columns

Index(['fema_declaration_string', 'disaster_number', 'state',
       'declaration_type', 'declaration_date', 'fy_declared', 'incident_type',
       'declaration_title', 'ih_program_declared', 'ia_program_declared',
       'pa_program_declared', 'hm_program_declared', 'incident_begin_date',
       'incident_end_date', 'disaster_closeout_date', 'fips', 'place_code',
       'designated_area', 'declaration_request_number', 'hash', 'last_refresh',
       'id'],
      dtype='object')

In [8]:
df['fy_declared']

0        1953
1        1953
2        1953
3        1953
4        1953
         ...
61890    2021
61891    2021
61892    2021
61893    2021
61894    2021
Name: fy_declared, Length: 61895, dtype: int64

In [9]:
df_century = df[df['fy_declared'] >= 2000]
df_century

,fema_declaration_string,disaster_number,state,declaration_type,declaration_date,fy_declared,incident_type,declaration_title,ih_program_declared,ia_program_declared,...,incident_begin_date,incident_end_date,disaster_closeout_date,fips,place_code,designated_area,declaration_request_number,hash,last_refresh,id
19525,EM-3150-FL,3150,FL,EM,1999-10-15T18:15:00Z,2000,Hurricane,Tropical Storm Irene - Florida,0,0,...,1999-10-14T11:00:00Z,1999-10-19T00:00:00Z,2010-04-26T00:00:00Z,12021,99021,Collier (County),99136,894e0de083aced5c2bbc06fd34883ca7,2021-06-11T19:24:02Z,60c3b852a0ee349d7109be2c
19526,EM-3150-FL,3150,FL,EM,1999-10-15T18:15:00Z,2000,Hurricane,Tropical Storm Irene - Florida,0,0,...,1999-10-14T11:00:00Z,1999-10-19T00:00:00Z,2010-04-26T00:00:00Z,12011,99011,Broward (County),99136,ba94390e815f388b6d3673af2d9c8dec,2021-06-11T19:24:02Z,60c3b852a0ee349d7109be23
19527,EM-3150-FL,3150,FL,EM,1999-10-15T18:15:00Z,2000,Hurricane,Tropical Storm Irene - Florida,0,0,...,1999-10-14T11:00:00Z,1999-10-19T00:00:00Z,2010-04-26T00:00:00Z,12009,99009,Brevard (County),99136,9b563b03c73d06fff2b52177689ffc42,2021-06-11T19:24:02Z,60c3b852a0ee349d7109be21
19528,EM-3150-FL,3150,FL,EM,1999-10-15T18:15:00Z,2000,Hurricane,Tropical Storm Irene - Florida,0,0,...,1999-10-14T11:00:00Z,1999-10-19T00:00:00Z,2010-04-26T00:00:00Z,12015,99015,Charlotte (County),99136,231561d60ae26982bea5473ca6fbfa4c,2021-06-11T19:24:02Z,60c3b852a0ee349d7109be29
19529,EM-3150-FL,3150,FL,EM,1999-10-15T18:15:00Z,2000,Hurricane,Tropical Storm Irene - Florida,0,0,...,1999-10-14T11:00:00Z,1999-10-19T00:00:00Z,2010-04-26T00:00:00Z,12095,99095,Orange (County),99136,95a6b92130dbcee41c681c2a0fa299e5,2021-06-11T19:24:02Z,60c3b852a0ee349d7109be7d
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61890,FM-5389-AZ,5389,AZ,FM,2021-06-06T14:20:00Z,2021,Fire,Telegraph Fire,0,0,...,2021-06-06T14:20:00Z,NaN,NaN,4021,99021,Pinal (County),21041,39dd0a1f020996e3e52139d2425037b5,2021-06-11T19:24:38Z,60c3b876a0ee349d710bfeab
61891,FM-5389-AZ,5389,AZ,FM,2021-06-06T14:20:00Z,2021,Fire,Telegraph Fire,0,0,...,2021-06-06T14:20:00Z,NaN,NaN,4007,99007,Gila (County),21041,1a8a2356233e8a03bb476f9d9fd3f884,2021-06-11T19:24:38Z,60c3b876a0ee349d710bfe98
61892,FM-5390-NV,5390,NV,FM,2021-06-09T21:51:00Z,2021,Fire,Jacks Valley Fire,0,0,...,2021-06-09T16:50:00Z,NaN,NaN,32005,99005,Douglas (County),21043,ff4a34dab2e27196ab45b783a5ad13cc,2021-06-11T19:24:38Z,60c3b876a0ee349d710bfe9a
61893,FM-5391-UT,5391,UT,FM,2021-06-10T21:30:00Z,2021,Fire,Pack Creek Fire,0,0,...,2021-06-09T16:11:00Z,NaN,NaN,49037,99037,San Juan (County),21044,2abeac9d0dd16c5cc6db56d49c8afc1b,2021-06-11T19:24:38Z,60c3b876a0ee349d710bfe96
61894,FM-5392-MT,5392,MT,FM,2021-06-16T01:00:00Z,2021,Fire,Robertson Draw Fire,0,0,...,2021-06-15T23:00:00Z,NaN,NaN,30009,99009,Carbon (County),21045,1f409346aa917a1b21240e4d4ad0e837,2021-06-16T19:42:09Z,60ca5411a0ee349d719bcf01

In [10]:
df_century.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42370 entries, 19525 to 61894
Data columns (total 22 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   fema_declaration_string     42370 non-null  object
 1   disaster_number             42370 non-null  int64
 2   state                       42370 non-null  object
 3   declaration_type            42370 non-null  object
 4   declaration_date            42370 non-null  object
 5   fy_declared                 42370 non-null  int64
 6   incident_type               42370 non-null  object
 7   declaration_title           42370 non-null  object
 8   ih_program_declared         42370 non-null  int64
 9   ia_program_declared         42370 non-null  int64
 10  pa_program_declared         42370 non-null  int64
 11  hm_program_declared         42370 non-null  int64
 12  incident_begin_date         42370 non-null  object
 13  incident_end_date           34107 non-null  object
 14  disaster_closeout_date      26434 non-null  object
 15  fips                        42370 non-null  int64
 16  place_code                  42370 non-null  int64
 17  designated_area             42370 non-null  object
 18  declaration_request_number  42370 non-null  int64
 19  hash                        42370 non-null  object
 20  last_refresh                42370 non-null  object
 21  id                          42370 non-null  object
dtypes: int64(9), object(13)
memory usage: 7.4+ MB

In [11]:
df_century = df_century[['id', 'disaster_number','state', 'declaration_type', 'declaration_date', 'fy_declared', 'incident_type', 'declaration_title', 'place_code', 'designated_area']]
df_century = df_century.reset_index(drop = True)
df_century

,id,disaster_number,state,declaration_type,declaration_date,fy_declared,incident_type,declaration_title,place_code,designated_area
0,60c3b852a0ee349d7109be2c,3150,FL,EM,1999-10-15T18:15:00Z,2000,Hurricane,Tropical Storm Irene - Florida,99021,Collier (County)
1,60c3b852a0ee349d7109be23,3150,FL,EM,1999-10-15T18:15:00Z,2000,Hurricane,Tropical Storm Irene - Florida,99011,Broward (County)
2,60c3b852a0ee349d7109be21,3150,FL,EM,1999-10-15T18:15:00Z,2000,Hurricane,Tropical Storm Irene - Florida,99009,Brevard (County)
3,60c3b852a0ee349d7109be29,3150,FL,EM,1999-10-15T18:15:00Z,2000,Hurricane,Tropical Storm Irene - Florida,99015,Charlotte (County)
4,60c3b852a0ee349d7109be7d,3150,FL,EM,1999-10-15T18:15:00Z,2000,Hurricane,Tropical Storm Irene - Florida,99095,Orange (County)
...,...,...,...,...,...,...,...,...,...,...
42365,60c3b876a0ee349d710bfeab,5389,AZ,FM,2021-06-06T14:20:00Z,2021,Fire,Telegraph Fire,99021,Pinal (County)
42366,60c3b876a0ee349d710bfe98,5389,AZ,FM,2021-06-06T14:20:00Z,2021,Fire,Telegraph Fire,99007,Gila (County)
42367,60c3b876a0ee349d710bfe9a,5390,NV,FM,2021-06-09T21:51:00Z,2021,Fire,Jacks Valley Fire,99005,Douglas (County)
42368,60c3b876a0ee349d710bfe96,5391,UT,FM,2021-06-10T21:30:00Z,2021,Fire,Pack Creek Fire,99037,San Juan (County)
42369,60ca5411a0ee349d719bcf01,5392,MT,FM,2021-06-16T01:00:00Z,2021,Fire,Robertson Draw Fire,99009,Carbon (County)

In [12]:
disaster_types = df_century['incident_type'].unique()
print("Types of Disasters reported:\n\n", disaster_types)
print("Occurrences:\n\n",df['incident_type'].value_counts())

Types of Disasters reported:

 ['Hurricane' 'Severe Storm(s)' 'Fire' 'Tornado' 'Snow' 'Flood'
 'Earthquake' 'Other' 'Severe Ice Storm' 'Freezing' 'Coastal Storm'
 'Terrorist' 'Typhoon' 'Dam/Levee Break' 'Drought' 'Tsunami'
 'Mud/Landslide' 'Chemical' 'Volcano' 'Toxic Substances' 'Biological']
Occurrences:

 Severe Storm(s)     17026
Hurricane           12005
Flood               10453
Biological           7811
Snow                 3664
Fire                 3511
Severe Ice Storm     2937
Tornado              1488
Drought              1292
Coastal Storm         570
Freezing              301
Other                 299
Earthquake            227
Typhoon               130
Volcano                51
Fishing Losses         42
Mud/Landslide          36
Dam/Levee Break        13
Toxic Substances        9
Chemical                9
Tsunami                 9
Human Cause             7
Terrorist               5
Name: incident_type, dtype: int64

In [13]:
declaration_type = df['declaration_type'].unique()
declaration_type

array(['DR', 'FM', 'EM'], dtype=object)

In [14]:
df_century['declaration_type'].value_counts()

DR    26184
EM    14721
FM     1465
Name: declaration_type, dtype: int64

In [15]:
df_century[['incident_type', 'declaration_type']]

      incident_type declaration_type
0         Hurricane               EM
1         Hurricane               EM
2         Hurricane               EM
3         Hurricane               EM
4         Hurricane               EM
...             ...              ...
42365          Fire               FM
42366          Fire               FM
42367          Fire               FM
42368          Fire               FM
42369          Fire               FM

[42370 rows x 2 columns]

In [16]:
m=df_century[['state','incident_type']].groupby('state').describe()
m['incident_type'].sort_values(by='count',ascending=False)

      count unique              top  freq
state
TX     3717      9        Hurricane  1227
MO     2042      6  Severe Storm(s)  1077
OK     2022      8  Severe Storm(s)   838
LA     1793     10        Hurricane  1090
KY     1717      8  Severe Storm(s)   792
GA     1600      6        Hurricane   848
VA     1484      8        Hurricane   689
FL     1361      6        Hurricane   835
KS     1350      7  Severe Storm(s)   882
NC     1323      7        Hurricane   898
PR     1149      6        Hurricane   573
IA     1131      6  Severe Storm(s)   587
MS     1129      6        Hurricane   487
AR     1118      6  Severe Storm(s)   537
AL     1099      5        Hurricane   532
NE     1074      8  Severe Storm(s)   561
NY     1011     10  Severe Storm(s)   320
TN      967      8  Severe Storm(s)   492
IN      966      6  Severe Storm(s)   528
SD      908      6  Severe Storm(s)   312
OH      856      7  Severe Storm(s)   461
WV      844      9  Severe Storm(s)   426
ME      837      7       Biological   623
MN      822      7            Flood   309
CA      795      9             Fire   376
IL      763      7       Biological   204
ND      737      7  Severe Storm(s)   267
PA      721      6        Hurricane   247
SC      718      6        Hurricane   368
WI      551      6  Severe Storm(s)   171
WA      540      7  Severe Storm(s)   174
MT      462      6             Fire   131
CO      456      6             Fire   141
NM      419      5       Biological   150
MI      404      8       Biological   188
OR      380      6  Severe Storm(s)   133
NJ      369      6        Hurricane   116
MD      301      6        Hurricane   137
MA      269     10  Severe Storm(s)    90
AK      249      7       Biological   121
ID      234      5       Biological    93
NV      227      6       Biological    88
AZ      225      6       Biological    73
VT      219      6  Severe Storm(s)   122
NH      214      8  Severe Storm(s)    92
UT      178      6       Biological    72
CT      175      5        Hurricane    60
WY      106      5       Biological    48
HI       67      9             Fire    15
RI       66      4        Hurricane    25
MP       47      2          Typhoon    38
VI       46      3        Hurricane    33
AS       40      5       Biological    10
DE       35      4        Hurricane    20
DC       19      6  Severe Storm(s)     6
GU       10      4          Typhoon     5
FM        8      2          Typhoon     7

In [17]:
df_century = df_century[['id','state', 'declaration_type', 'fy_declared', 'incident_type', 'declaration_title']]
df_century = df_century.reset_index(drop = True)
df_century

,id,state,declaration_type,fy_declared,incident_type,declaration_title
0,60c3b852a0ee349d7109be2c,FL,EM,2000,Hurricane,Tropical Storm Irene - Florida
1,60c3b852a0ee349d7109be23,FL,EM,2000,Hurricane,Tropical Storm Irene - Florida
2,60c3b852a0ee349d7109be21,FL,EM,2000,Hurricane,Tropical Storm Irene - Florida
3,60c3b852a0ee349d7109be29,FL,EM,2000,Hurricane,Tropical Storm Irene - Florida
4,60c3b852a0ee349d7109be7d,FL,EM,2000,Hurricane,Tropical Storm Irene - Florida
...,...,...,...,...,...,...
42365,60c3b876a0ee349d710bfeab,AZ,FM,2021,Fire,Telegraph Fire
42366,60c3b876a0ee349d710bfe98,AZ,FM,2021,Fire,Telegraph Fire
42367,60c3b876a0ee349d710bfe9a,NV,FM,2021,Fire,Jacks Valley Fire
42368,60c3b876a0ee349d710bfe96,UT,FM,2021,Fire,Pack Creek Fire
42369,60ca5411a0ee349d719bcf01,MT,FM,2021,Fire,Robertson Draw Fire